# Cache of project
.gradletasknamecache

# Ignore Gradle GUI config
gradle-app.setting


## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

META-INF
.gradle
.idea

# Remove build files
build/

# Remove additional gradle-related files
gradlew
gradlew.bat
gradle/
